params{
    project_name = "NA12878"
    sample_sheet = "/cbio/projects/020/gerrit/NA12878.samplesheet.small.tsv"
    out_dir = "/cbio/projects/020/gerrit/sentieon-scripts-align-out"

    ref = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta"
    dbsnp = "/cbio/dbs/gatk/hg38/dbsnp_138.hg38.vcf.gz"
    
    workflow = 'dnascope-align-call'

    // sentieon
    sentieon = true
    sentieon_license = "10.102.37.76:8990"
    sentieon_libjemalloc = "/usr/lib/x86_64-linux-gnu/libjemalloc.so.2"
    sentieon_bam_option = "--bam_compression 1"
    sentieon_threads = 32
    sentieon_dnascope_model = "/cbio/projects/020/Thandeka/DNAScope/SentieonDNAscopeModel1.0.model"

    pcr_free = true
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    withLabel: sentieon {
         container = 'docker://quay.io/grbot/sentieon'
    }

    cpus = 1
    memory = 48.GB
    time = 336.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
}

trace {
    enabled = true
    overwrite = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "${HOME}/.singularity"
}
